.headerDiv {
    height: 500px;
    background-image: url("https://images.alphacoders.com/201/thumb-1920-201831.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 8%;
}